<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="tests/bootstrap.php"
>
    <coverage processUncoveredFiles="true">
        <include>
            <directory>./src/</directory>
        </include>
        <exclude>
            <directory suffix=".php">./tests</directory>
        </exclude>
        <report>
            <clover outputFile="./coverage.clover"/>
        </report>
    </coverage>
    <testsuites>
        <testsuite name="All Tests">
            <directory suffix=".php">./tests</directory>
        </testsuite>
    </testsuites>
    <logging/>
</phpunit>
